//- Esclamation mark (e.g. span!= body) means "unescaped content"

mixin media_video(title, body, link, image)
	div.media-video
		a(href=link, target='_blank')
			img(src=image alt=title)
		h3!= title
		p!= body

mixin tutorial(title, description, link)
	div.tutorial
		a(href=link)
			h3!= title
		p!=	description