doctype html
html(lang='en')
	head
		block metas-vars
		if NODE_ENV === 'prod'
			include includes/google-analytics
		title #{title}#{CONSTANTS.title}
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='author' content='Monocasual Laboratories')
		meta(name='description' content=`${CONSTANTS.description}${description}`)
		meta(name='keywords' content=`${CONSTANTS.keywords}${keywords}`)
		meta(name='copyright' content=`2010-${(new Date()).getFullYear()} Monocasual Laboratories`)
		meta(name='application-name' content=`${CONSTANTS.title}`)
		block metas

		link(rel='icon' href=`images/favicon.ico?v=${CONSTANTS.version}`)
		link(rel='apple-touch-icon-precomposed' href=`images/favicon-512.png?v=${CONSTANTS.version}`)
		if NODE_ENV === 'prod'
			link(rel='stylesheet' href=`css/main-${CONSTANTS.version}.css` type='text/css')
		else
			link(rel='stylesheet' href=`css/common.css` type='text/css')
		block styles

	body
		include includes/cookie-banner
		include includes/header
		block content
		include includes/footer

		script(type='module' src=`js/main-${CONSTANTS.version}.js`)
		block scripts
