extends base

block metas
	meta(property='og:title' content=`${CONSTANTS.title}`)
	meta(property='og:type' content='website')
	meta(property='og:image' content=`${CONSTANTS.url}/images/${CONSTANTS.social_image}`)
	meta(property='og:url' content=`${CONSTANTS.url}`)
	meta(property='og:description' content=`${CONSTANTS.description}`)
	meta(property='fb:app_id' content=`${CONSTANTS.facebook_app_id}`)
	meta(name='twitter:card' content='summary')
	meta(name='twitter:url' content=`${CONSTANTS.url}`)
	meta(name='twitter:title' content=`${CONSTANTS.title}`)
	meta(name='twitter:description' content=`${CONSTANTS.description}`)
	meta(name='twitter:image' content=`images/${CONSTANTS.social_image}`)

block styles
	if NODE_ENV === 'dev'
		link(rel='stylesheet' href=`css/index.css` type='text/css')

block content
	section.index
		div.intro
			h1.
				Giada<br>Your hardcore loop machine.

		div.canvas
			picture
				source(media='(min-width: 516px)' srcset='images/giada-canvas.png')
				img(src='images/giada-canvas-mobile.png' alt='Giada - Your Hardcore Loopmachine')

		div.description
			p.
				#[strong Giada] is an open source, minimalistic and hardcore #[strong music production tool]. Designed for #[strong DJs], #[strong live performers] and #[strong electronic musicians].

			p.see-it
				a(href='https://www.youtube.com/user/GiadaLoopMachine') &#x2794; See it in action!

		div.block.features
			h2 Features.

			div.main-features
				div.feature
					p.
						1. Giada is a loop machine.
					p.
						Build your performance in real time by layering audio tracks or MIDI events, driven by the main sequencer.

				div.feature
					p.
						2. Giada is a sample player.
					p.
						Load samples from your crates and play them with a computer keyboard or a MIDI controller.
			
				div.feature
					p.
						3. Giada is a song editor.
					p.
						Write songs from scratch or edit existing live recordings with the powerful Action Editor, for a fine-tuned control.

			div.main-features.last
				div.feature
					p.
						4. Giada is a live recorder.
					p.
						Record sounds from the real world and MIDI events coming from external devices or other apps.

				div.feature
					p.
						5. Giada is an FX processor.
					p.
						Process samples or audio/MIDI input signals with VST instruments from your plug-ins collection.

				div.feature
					p.
						6. Giada is a MIDI controller.
					p.
						Control other software or synchronize physical MIDI devices by using Giada as a MIDI master sequencer.
				
			div.sub-features
				div.feature
					p.
						Lightweight and powerful.

				div.feature
					p.
						Designed for live performances.

				div.feature
					p.
						Powerful multi-threaded audio engine.

				div.feature
					p.
						Super sleek interface, no exotic stuff.

				div.feature
					p.
						VST3, LV2 and MIDI I/O support.

				div.feature
					p.
						Tons of tools and modes to craft your songs.

				div.feature
					p.
						100% open-source GPL.

				div.feature
					p.
						For Linux, Windows, macOS and FreeBSD.

		div.block.download#download
			h2 Download.

			div.main-container
				div.latest-version
					p.
						Latest version
					p.
						#{RELEASE.version}, #[em #{RELEASE.codename}]
					p.
						Released on #{RELEASE.date}

				div.box
					p.os.
						Linux
					p.info.
						AppImage, 64 bit, #{RELEASE.linux.size} MB
					p.get-it.
						#[a(href=`${RELEASE.linux.path}` title='Download Giada for Linux') ⇩ get it! ⇩]

				div.box
					p.os.
						Windows
					p.info.
						64 bit, #{RELEASE.windows.size} MB
					p.get-it.
						#[a(href=`${RELEASE.windows.path}` title='Download Giada for Windows') ⇩ get it! ⇩]
				
				div.box
					p.os.
						macOS
					p.info.
						64 bit, #{RELEASE.macos.size} MB
					p.get-it.
						#[a(href=`${RELEASE.macos.path}` title='Download Giada for macOS') ⇩ get it! ⇩]

				div.box
					p.os.
						Source code
					p.info.
						#{RELEASE.source.size} MB
					p.get-it.
						#[a(href=`${RELEASE.source.path}` title='Download Giada source code') ⇩ get it! ⇩]					

			div.secondary-container
				div.changes
					p.title.
						Changes in version #{RELEASE.version}
					
					ul
						each change in RELEASE.changes
							li= change
				
				div.checksums
					p.title.
						MD5 checksums

					div.table
						div Linux
						div
							code #{RELEASE.linux.md5}
						div Windows
						div
							code #{RELEASE.windows.md5}
						div macOS
						div
							code #{RELEASE.macos.md5}
						div Source code
						div
							code #{RELEASE.source.md5}
		
		div.block.follow-us
			h2 Follow us.

			div
				a(href='https://www.facebook.com/GiadaYourHardcoreLoopmachine' title='Giada @ Facebook')
					img(src='images/social-icon-facebook.svg' alt='Facebook' title='Giada @ Facebook')
				a(href='https://twitter.com/GiadaLooper' title='Giada @ Twitter')
					img(src='images/social-icon-twitter.svg' alt='twitter' title='Giada @ Twitter')
				a(href='https://instagram.com/giadaloopmachine' title='Giada @ Instagram')
					img(src='images/social-icon-instagram.svg' alt='instagram' title='Giada @ Instagram')
				a(href='https://github.com/monocasual/giada' title='Giada @ Github')
					img(src='images/social-icon-github.svg' alt='github' title='Giada @ Github')
				a(href='http://www.youtube.com/user/GiadaLoopMachine' title='Giada @ Youtube')
					img(src='images/social-icon-youtube.svg' alt='youtube' title='Giada @ Youtube')
				a(href='http://www.kvraudio.com/product/giada-by-monocasual' title='Giada @ KVR Audio')
					img(src='images/social-icon-kvr.svg' alt='kvr audio' title='Giada @ KVR Audio')