extends base

include mixins/news

block metas
	meta(property='og:title' content=`${CONSTANTS.title}`)
	meta(property='og:type' content='website')
	meta(property='og:image' content=`${CONSTANTS.url}/images/${CONSTANTS.social_image}`)
	meta(property='og:url' content=`${CONSTANTS.url}`)
	meta(property='og:description' content=`${CONSTANTS.description}`)
	meta(property='fb:app_id' content=`${CONSTANTS.facebook_app_id}`)
	meta(name='twitter:card' content='summary')
	meta(name='twitter:url' content=`${CONSTANTS.url}`)
	meta(name='twitter:title' content=`${CONSTANTS.title}`)
	meta(name='twitter:description' content=`${CONSTANTS.description}`)
	meta(name='twitter:image' content=`images/${CONSTANTS.social_image}`)

block content
	.container

		//- Intro

		.row.margin-top-xl
			.col-md-12
				h1.text-center Your hardcore loop machine.
				h2.margin-top-xl.description #{CONSTANTS.description}
	
	//- Hero space

	.container-fluid.news-list
		.row
			.col-sm-12
				.container
					.row
						.col-md-10.col-md-offset-1
							p
							| xxx

	.container

		.row.center-block.margin-top-xl
			.col-md-12
				h4.text-center
					a.see-it-in-action(href='http://www.youtube.com/user/GiadaLoopMachine' target='_blank') see it in action!

		//- Main features

		.row.center-block.margin-top-xl
			.col-md-4
				h3
					img.margin-right-s(alt='*' src='images/icon-box.svg')
					| Your sample player
				p
					| Play sounds with your keyboard or your MIDI controller. 
			.col-md-4
				h3
					img.margin-right-s(alt='*' src='images/icon-knob.svg')
					| Your loop machine
				p
					| Loop samples or MIDI events with the main sequencer.
			.col-md-4
				h3
					img.margin-right-s(alt='*' src='images/icon-sine.svg')
					| Your song editor
				p
					| Edit loops and MIDI events with the Action Editor for a fine-tuned control.
		.row.center-block
			.col-md-4
				h3
					img.margin-right-s(alt='*' src='images/icon-heart.svg')
					| Your live recoder
				p
					| Record sounds and MIDI events from the real world.
			.col-md-4
				h3
					img.margin-right-s(alt='*' src='images/icon-sine.svg')
					| Your FX processor
				p
					| Process VST instruments from your plug-ins collection in realtime.
			.col-md-4
				h3
					img.margin-right-s(alt='*' src='images/icon-heart.svg')
					| Your MIDI controller
				p
					| Let Giada drive other softwares or physical MIDI devices.	

		//- Detail features

		.row.center-block.margin-top-xl
			.col-md-3
				h4
					| Lightweight and powerful
			.col-md-3
				h4
					| VST and MIDI support
			.col-md-3
				h4
					| 100% open-source GPL
			.col-md-3
				h4
					| Powerful multi-threaded audio engine
		.row.center-block
			.col-md-3
				h4
					| Super sleek interface, no exotic stuff
			.col-md-3
				h4
					| Tons of tools to edit your songs
			.col-md-3
				h4
					| Designed for live performances
			.col-md-3
				h4
					| For Linux, Windows, macOS and FreeBSD

		
		//- Quotes

		.quotes.row.margin-top-xl
			.col-md-6.col-md-offset-3
				p
					i “This software is f*cking awesome.”
					| ― Cinderskull27
				p
					i “Giada is one of the best open platform audio tool out there.”
					| ― blinkworth1
				p
					i “Discovering Giada has completely changed my life.”
					| ― D1RTY J0E
		
		//- Download button

		.row.margin-top-xl
			.col-md-12
				a(href='download')
					input.download-btn.btn.btn-default.center-block(type='button' value='Download it!')
				.text-center.margin-top-s
					| latest version: #{RELEASE.version} | 
					a(href='documentation-index') docs 
					|  | 
					a(href='https://github.com/monocasual/giada' title='Giada @ Git Hub') fork it on GitHub
					|  | 
					include includes/socials/paypal
		
		//- Sharing area

		.row
			.col-md-10.col-md-offset-1
				h2.margin-top-xl.text-center Sharing is caring!
				.list-inline.text-center.margin-top-xl 
					include includes/socials/facebook-like
					include includes/socials/twitter-like
					include includes/socials/reddit
					include includes/socials/flattr
					include includes/socials/github

	//- News list

	.container-fluid.news-list
		.row
			.col-sm-12
				.container
					.row
						.col-md-10.col-md-offset-1
							h2.margin-top-xl.text-center Latest news from our laboratories.
							each news in NEWS.slice(0, 5)
								+news(news.date, news.title, news.body)
